/* import del font "rubik"*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*setting di base*/
    *{
        font-family: "Rubik", Arial, Helvetica, sans-serif;
        font-size: 11pt;
        color: #dee2e6;
    }
    body{
        margin: auto;
        background-color: rgb(23, 23, 23);
        overflow: hidden;
    }

/*titolo*/
    .titolo{
        color:#dee2e6;
        width: 100%;
        padding: 1rem;
        font-weight: bold;
        font-size: 18pt;
        text-align: center;
        border-bottom: 1px solid rgb(55, 55, 55);
    }
    
/*lato sinistro*/
    .inserimento_dati{
        width: 100%;
        height: 100rem;
        color: #dee2e6;
        float: left;
        text-align: center;
    }

    #n{
        margin-top: -0.066rem;
    }


   .inserimento_dati input{
        width: 25%;
        padding: 0.8rem;
        margin-top: 2rem;
        border: 1px solid rgb(140, 140, 140);
        color: white;
        background-color: rgb(23, 23, 23);
   }

   ::placeholder{
        color: rgb(151, 151, 151);
   }

   input:focus{
        outline: none;
   }


   input:hover{
        background-color: #dee2e6;
        color: rgb(23, 23, 23);
        transition: 0.5s;
   }

   input:not(:hover){
        border: 1px solid rgb(140, 140, 140);
        color: white;
        background-color: rgb(23, 23, 23);
        transition: 0.5s;
   }

   #bottoni{
        width: 100%;
        text-align: center;
   }
   button{
        margin-top: 2rem;
        width: 7%;
        padding: 0.8rem;
        border: 1px solid rgb(55, 55, 55);
        background-color: rgb(23, 23, 23);
   }


   button:hover{
        cursor: pointer;
        background-color: #dee2e6;
        color: rgb(55, 55, 55);
        transition: 0.5s;
        border: 1px solid #dee2e6;
   }
   button:not(:hover){
        border: 1px solid rgb(55, 55, 55);
        background-color: rgb(23, 23, 23);
        transition: 0.5s;
   }

/*media queries*/
   @media screen and (max-width:1400px){

     button{
          width: 7%;
     }
   }

   @media screen and (max-width:1200px){


     button{
          width: 9%;
     }
   }

   @media screen and (max-width:1000px){

     button{
          width: 12%;
     }
   }